################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.exe
*.opendb
*.ipch
*.tlog
*.idb
*.obj
*.suo
*.log
*.recipe
*.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
